<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h6>Today</h6>
  
  <div>
    <ion-card class="notification-card card">
      <figure>
        <img src="/assets/images/profile-img.png">
      </figure>
      <div>
        <h6>Deepak Singh</h6>
        <h6 class="text-blue">PSYC 321</h6>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          <a href="" color="primary">LinkedIn</a>
        </p>
        <small>2:42 PM</small>
      </div>
      <a href="" class="top-icon"><ion-icon name="heart-outline"></ion-icon></a>
    </ion-card>

    <ion-card class="notification-card card">
      <figure>
        <img src="/assets/images/profile-img.png">
      </figure>
      <div>
        <h6>Young Professional</h6>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <a href="" class="top-icon"><ion-icon name="share-social-outline"></ion-icon></a>
    </ion-card>

    <ion-card class="notification-card card">
      <ion-icon color="warning" name="ellipse"></ion-icon>
      <div>
        <h6>Young Professional</h6>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>      
        <a href="" class="text-blue">https://ejobshire.com//saurav/mbatrek_design_UI/notification2.htm</a>
      </div>
      <a href="" class="top-icon"><ion-icon name="share-social-outline"></ion-icon></a>
    </ion-card>

    <ion-card class="notification-card card">
      <ion-icon color="warning" name="ellipse"></ion-icon>
      <div>
        <h6>Deepak Singh</h6>
        <h6 class="text-blue">PSYC 321</h6>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <a href="" class="top-icon"><ion-icon name="heart-outline"></ion-icon></a>
    </ion-card>
  </div>

  <h6>Yesterday</h6>
  
  <div>
    <ion-card class="notification-card card">
      <figure>
        <img src="/assets/images/profile-img.png">
      </figure>
      <div>
        <h6>Young Professional</h6>
        <p class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <a href="" class="top-icon"><ion-icon name="share-social-outline"></ion-icon></a>
    </ion-card>
  </div>
</ion-content>
