<ion-header>
  <ion-toolbar class="white">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Points</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transform-top">
  <div class="redeem-top ion-padding-horizontal">
    <ion-item-divider>
      <img src="/assets/images/wallet-img.png" alt="" slot="end">
      <div>
        <p>Earning points</p>
        <h1>69.9</h1>
      </div>
    </ion-item-divider> 
  </div>

  <div class="earn-points ion-padding">
    <ion-card class="card ion-text-center">
      <img src="../../assets/images/earned-points.png" alt=""> 
      <h5>You have earned 50 points today</h5>
    </ion-card>

    <h5 class="ion-margin-vertical">How to earn more points</h5>

    <div>
      <ion-item-divider>
        <p slot="end" class="text-blue">+50 Points</p>
        <p>1. Refer a Friend</p>
      </ion-item-divider>
      <ion-item-divider>
        <p slot="end" class="text-blue">+50 Points</p>
        <p>2. Share option on Twitter</p>
      </ion-item-divider>
      <ion-item-divider>
        <p slot="end" class="text-blue">+50 Points</p>
        <p>3. Complete your profile</p>
      </ion-item-divider>
    </div>
  </div>
</ion-content>
