.reset-image{    width: 125px;    margin: 8vh auto;}

.reset-form form{width: 100%;  }
.reset-form form .form-group{margin: 25px 0; display: flex; position: relative;}
.reset-form form .view-pwd-icon{    
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 17px;}
.reset-form form button{margin-top: 40px;}
