.btn-nav{    border-radius: 15px;    padding: 5px 10px;}
.btn-nav ion-icon{vertical-align: middle;}

h3{margin: 30px 0 20px;    font-weight: 600;}
.question{color: rgb(0 0 0 / 0.8);}

.survey-choice{margin: 10vh 0;}
.survey-choice h6{color: #1f699b;   font-weight: 600;}
.survey-choice ion-col:first-of-type,
.survey-choice ion-col:last-of-type{margin-top: 15px;}