<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding-horizontal">
    <img src="../../assets/images/improve-rank.png" alt="">
    <h3>Improve Ranking</h3>
    <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
  </div>

  <div>    
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Complete the assessment</h6>
        <img src="/assets/images/complete-assess.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Purchase this product</h6>
        <img src="/assets/images/purchase-product.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Purchase this product</h6>
        <img src="/assets/images/purchase-product.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>     
  </div>
</ion-content>
