<ion-header>
  <ion-toolbar class="white">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transform-top">
  <div class="contact-top"></div>
  <div class="contact-wrapper round-border-top">
    <!-- <div class="guest">
      <form class="ion-padding">
        <div class="form-group">
          <ion-label position="stacked">Name</ion-label>            
          <ion-input type="text" class="form-control" id="" placeholder="Jhon Doe"></ion-input>      
        </div>

        <div class="form-group">
          <ion-label position="stacked">Phone Number</ion-label>            
          <ion-input type="text" class="form-control" id="" placeholder="9876543210"></ion-input>      
        </div>

        <div class="form-group">
          <ion-label position="stacked">Email</ion-label>            
          <ion-input type="email" class="form-control" id="" placeholder="example@gmail.com"></ion-input>      
        </div>

        <div class="form-group">
          <ion-label position="stacked">Are You?</ion-label>  
          <ion-radio-group value="prefessional">
            <ion-item class="ion-no-padding" no-lines>
              <ion-label>College Student</ion-label>
              <ion-radio slot="start" color="tertiary" value="student"></ion-radio>
            </ion-item>

            <ion-item class="ion-no-padding" no-lines>
              <ion-label>Young Professional</ion-label>
              <ion-radio slot="start" color="tertiary" value="prefessional"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Select an Institute</ion-label>
          <ion-select class="form-control" placeholder="10i Commerce Services" interface="popover">
            <ion-select-option value="">10i Commerce Services</ion-select-option>
          </ion-select>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Subject</ion-label>            
          <ion-input type="text" class="form-control" id="" placeholder="MBAtrek"></ion-input>      
        </div>

        <div class="form-group">
          <ion-label position="stacked">Your Message</ion-label>            
          <ion-input type="text" class="form-control" id="" placeholder="MBAtrek"></ion-input>      
        </div>

        <button type="submit" class="gradient-btn ion-activatable ripple-parent">SUBMIT
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </button> 
      </form>

      <div class="ion-padding contact-info">
        <h6>Call / Whatsapp:</h6>
        <h6>
          <a href="tel: +91 9821948335">+91 9821948335</a>, 
          <a href="tel: +91 9821948334">+91 9821948334</a>
        </h6>
        <h6>Email: <a href="mailto:contact@mbatrek.com">contact@mbatrek.com</a></h6>
        <h6>CIN: U74999HR2016PTC057728</h6>
        <h6>GSTIN: 06AAKCM1714E2ZS</h6>
      </div>
    </div> -->

    <div class="user ion-padding-horizontal">
      <form>
        <div class="form-group">
          <ion-label position="stacked">How can we help you?</ion-label> 
          <p>
            <ion-chip>
              <ion-label>Get Info on Courses</ion-label>
            </ion-chip>   
            <ion-chip>
              <ion-label>1 on 1 Career Advice</ion-label>
            </ion-chip> 
            <ion-chip>
              <ion-label>Events & Webinars</ion-label>
            </ion-chip>   
            <ion-chip>
              <ion-label>App Related Queries</ion-label>
            </ion-chip>   
            <ion-chip>
              <ion-label>Others</ion-label>
            </ion-chip>  
          </p>        
        </div>

        <div class="form-group">
          <ion-label position="stacked">Whatsapp No: </ion-label> 
          <ion-item class="ion-no-padding">
            <p>
              <a href="tel: +91 9821948335">+91 9821948335</a>, 
              <a href="tel: +91 9821948334">+91 9821948334</a></p>
            <img src="/assets/images/whatsapp-contact.png" alt="" slot="end">
          </ion-item>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Talk to Our Career Advisor at</ion-label> 
          <ion-item class="ion-no-padding">
            <p><a href="tel: +91 9821948334">+91 9821948334</a></p>
            <img src="/assets/images/call-contact.png" alt="" slot="end">
          </ion-item>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Contact us at</ion-label> 
          <ion-item class="ion-no-padding">
            <p><a href="mailto:contact@mbatrek.com">contact@mbatrek.com</a></p>
            <img src="/assets/images/email-contact.png" alt="" slot="end">
          </ion-item>
        </div>

        <div class="form-group">
          <ion-label position="stacked">Post a Query</ion-label>            
          <ion-textarea rows="4" class="form-control"></ion-textarea>     
        </div>

        <button type="submit" class="gradient-btn ion-activatable ripple-parent">SUBMIT
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </button> 
      </form>
    </div>
  </div>

  
</ion-content>
