<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot<br>Password?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="otp-image">
    <img src="/assets/images/forgot-pass-img.png">
  </div>

  <div class="otp-text">
    <h6>Please enter your registered Email ID.</h6>
    <p class="text-light">We will send a verification code to your registered<br> Email ID</p>
  </div>

  <div class="otp-boxes">
    <form>
      <div class="form-group">
        <ion-input type="email" class="form-control input-group" id="" placeholder="Email">
          <span><img src="/assets/images/mail.png"></span>
        </ion-input>    
      </div>
      <button type="submit" class="gradient-btn ion-activatable ripple-parent">NEXT
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button> 
    </form>
  </div>
  
</ion-content>
