.otp-image{
    width: 100%;
    height: calc(100vh - 332px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img{
        width: 125px;
    }
}
ion-header{
    padding: 10px 0;
}
.otp-text{margin-bottom: 50px;}
.otp-boxes form{width: 100%;  }
.otp-boxes form .form-group{margin-bottom: 35px;}