<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>What can we help you with?</h4>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/professional.png" alt="">
          <h5>Student & Young Professional</h5>
          <p>Issue related to Young Professional</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/education.png" alt="">
          <h5>Educational Institutes</h5>
          <p>Issue related to Education</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/account-profile.png" alt="">
          <h5>Account & Profile</h5>
          <p>Issue related to Account & Profile</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/classroom.png" alt="">
          <h5>Classroom Courses</h5>
          <p>Issue related to Courses</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/test.png" alt="">
          <h5>Test Series</h5>
          <p>Issue related to Test Series</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="category-card">
          <img src="../../assets/images/reward.png" alt="">
          <h5>Coins & Rewards</h5>
          <p>Issue related to Coins & Rewards</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="category-card">
          <img src="../../assets/images/products.png" alt="">
          <h5>Products</h5>
          <p>Issue related to Products</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
