.my-resource-card{box-shadow: rgb(0 0 0 / 4%) 0px 3px 10px -2px, rgb(0 0 0 / 7%) 0px 3px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;  margin: 0; margin-bottom: 15px;}

.my-resource-card ion-card-header{padding: 12px 16px;}

.my-resource-card ion-card-title{font-size: 16px;}