<ion-content>
  <img src="/assets/images/login-top-shape.png">
  <div class="login-wrapper">
    <h1>Welcome to MBAtrek!</h1>

    <div class="login-form">
      <form>
        <div class="form-group">
          <ion-label position="stacked">Username</ion-label>            
          <ion-input type="text" class="form-control input-group" id="" clearInput>
            <span><img src="/assets/images/username.png"></span>
          </ion-input>      
        </div>

        <div class="form-group">
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" class="form-control input-group" id="">
            <span><img src="/assets/images/password.png"></span>
          </ion-input>       
        </div>
        <div class="ion-text-end"><a href="" class="text-dark" [routerLink]="['/forgot-password']">Forgot Password?</a></div>
        <button type="submit" class="gradient-btn ion-activatable ripple-parent" [routerLink]="['/otp']">LOGIN
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </button> 

        <div class="ion-text-center">
          <p class="text-light">Or Sign Up Using</p>

          <ion-grid>
            <ion-row class="ion-justify-content-center social-signup-list">
              <ion-col size="3">
                <a href=""><img src="/assets/images/google.png"></a>
              </ion-col>
              <ion-col size="3">
                <a href=""><img src="/assets/images/facebook.png"></a>
              </ion-col>
              <ion-col size="3">
                <a href=""><img src="/assets/images/linkedin.png"></a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </form>
    </div>

    <p class="text-light ion-text-center">Don't have an account? <a href="" class="text-blue">Sign Up</a></p>
    
  </div>

  
</ion-content>
