<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Resume Diagnostic</ion-title>                           
  </ion-toolbar>
</ion-header>
<ion-content>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link btn1" data-toggle="pill" href="#overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn2" data-toggle="pill" href="#learn-obj">Learning Objective</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn3 active" data-toggle="pill" href="#reviews">Reviews</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="overview" class="tab-pane ion-padding fade">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="7" class="ion-no-padding">
            <h5>Resume Diagnostic
              <a href="" class="share ion-float-right"><ion-icon name="share-social"></ion-icon></a>
            </h5>          
          </ion-col>
          <ion-col size="5" class="ion-no-padding ion-text-right">
            <h5 class="price">₹ 900 <span>₹ 1200</span></h5>
              <ul class="rating">
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li><ion-icon name="star"></ion-icon></li>
              </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="ion-padding-vertical">
       <iframe width="100%" height="150" src="https://www.youtube.com/embed/hdI2bqOjy3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="ion-text-center">
        <a href="" class="sample-link">View Free Samples</a>
        <ion-buttons class="btn-group">        
          <button type="submit" class="gradient-btn ion-activatable ripple-parent">
            <img src="/assets/images/buy-now.png" alt="">
            Buy Now
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </button> 
          <button type="submit" class="gradient-btn ion-activatable ripple-parent">
            <img src="/assets/images/add-to-cart.png" alt="">
            Add to Cart
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          </button> 
        </ion-buttons>
      </div>
      <div>
        <h6>How do we engage with you</h6>
        <ul class="engage-process">
          <li>
            <span><img src="/assets/images/day-1.png" alt=""></span>
            <p>Day 1: Fill in the background information</p>
          </li>
          <li>
            <span><img src="/assets/images/day-2.png" alt=""></span>
            <p>Day 2: First 1-to-1 session with experts</p>
          </li>
          <li>
            <span><img src="/assets/images/day-3.png" alt=""></span>
            <p>Day 3: the quality score for your Resume / CV</p>
          </li>
        </ul>
      </div>
      <div>
        <h6>Includes</h6>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="4">
              <div class="include-card card1">
                <img src="/assets/images/feedback.png" alt="">
                <p>2 Feedback Sessions</p>
                <p>(30 mins each)</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="include-card card2">
                <img src="/assets/images/templates.png" alt="">
                <p>1-Page Cheat Sheet & Templates</p>
              </div> 
            </ion-col>
            <ion-col size="4">           
              <div class="include-card card3">
                <img src="/assets/images/assessment.png" alt="">
                <p>Assessment Score</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div id="learn-obj" class="tab-pane fade">
      <div class="ion-padding">
        <h4>Key Outcomes</h4>
        <ion-grid class="ion-no-padding ion-text-center">
          <ion-row>
            <ion-col size="4">
              <div class="include-card card1">
                <img src="/assets/images/key-outcome1.png" alt="">
                <p>Get a quality score on your current Resume / CV</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="include-card card2">
                <img src="/assets/images/key-outcome2.png" alt="">
                <p>Ability to showcase your experience and projects</p>
              </div> 
            </ion-col>
            <ion-col size="4">           
              <div class="include-card card3">
                <img src="/assets/images/key-outcome3.png" alt="">
                <p>Increase your chances of being shortlisted</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>     
      <div class="analysis-area ion-padding">
        <h5>A through company analysis contains the following areas:</h5>
        <ul>
          <li>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#analysis-popup1">
              <img src="/assets/images/analysis-thumbnail1.jpg" alt="">
            </a>
          </li>          
          <li>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#analysis-popup2">
              <img src="/assets/images/analysis-thumbnail2.jpg" alt="">
            </a>
          </li>
        </ul>
        <div class="modal" id="analysis-popup1">
          <div class="modal-dialog">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <img src="/assets/images/analysis-popup1.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="modal" id="analysis-popup2">
          <div class="modal-dialog">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <img src="/assets/images/analysis-popup1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="ion-padding">
        <h5>How to build a useful and quick Company Analysis for your interview preparatiion?</h5>
        <ul class="pointer-list scroll-container">
          <li>
            <p>Have you ever been in an interview and wished you had read more about the company?</p>
          </li>
          <li>
            <p>If you are struggling with delivering compelling insights on the company you are targeting or interviewing</p>
          </li>
          <li>
            <p>You need to conduct a detailed company analysis. Thihs is important regardless of your degree and course of study</p>
          </li>
          <li>
            <p>The process of company analysis is equally important for a B.Tech., BBA, B.Com. and MBA students.</p>
          </li>
        </ul>
      </div>
    </div>
    <div id="reviews" class="tab-pane active">
      <div class="ion-padding">
        <ion-card class="card">
          <h4>Customer Stories</h4>
          <div class="cx-rating">
            <h1>4.9</h1>
            <div>
              <ul class="rating">
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li class="active-star"><ion-icon name="star"></ion-icon></li>
                <li><ion-icon name="star"></ion-icon></li>
              </ul>
              <p>Based on <span>980</span> Reviews</p>
            </div>
          </div>
        </ion-card>
        <div class="reviews-tabs">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#text-review">Text Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#video-review">Video Reviews</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="text-review" class="tab-pane active">
              <ul class="review-list">
                <li>
                  <img src="/assets/images/profile-img.png" alt="">
                  <figcaption>
                    <h6>Divya Singla</h6>
                    <p>LBSIM MBA 2017-19</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="rating">
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                    </ul>
                  </figcaption>
                </li>
                <li>
                  <img src="/assets/images/profile-img.png" alt="">
                  <figcaption>
                    <h6>Divya Singla</h6>
                    <p>LBSIM MBA 2017-19</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul class="rating">
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                    </ul>
                  </figcaption>
                </li>
              </ul>
            </div>
            <div id="video-review" class="tab-pane fade">
              <ul class="review-list">
                <li>
                  <figcaption>
                    <h6>Divya Singla</h6>
                    <p>LBSIM MBA 2017-19</p>
                    <iframe width="100%" height="150" src="https://www.youtube.com/embed/hdI2bqOjy3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <ul class="rating">
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                      <li class="active-star"><ion-icon name="star"></ion-icon></li>
                    </ul>
                  </figcaption>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>