<ion-content class="ion-padding">
  <form>
    <div class="form-group">
      <ion-label position="stacked">Select Institute</ion-label>      
      <ion-select class="form-control" placeholder="Institute Of Engineering Technology">
        <ion-select-option value="Institute Of Engineering Technology" selected>Institute Of Engineering Technology</ion-select-option>
      </ion-select>   
    </div>
    <div class="form-group">
      <ion-label position="stacked">Industry</ion-label>      
      <ion-select class="form-control" placeholder="Agra Industrial Corporation">
        <ion-select-option value="" selected>Agra Industrial Corporation</ion-select-option>
      </ion-select>   
    </div>
    <div class="form-group">
      <ion-label position="stacked">Company</ion-label>      
      <ion-select class="form-control" placeholder="MBAtrek">
        <ion-select-option value="" selected>MBAtrek</ion-select-option>
      </ion-select>   
    </div>
    <div class="form-group">
      <ion-label position="stacked">Function</ion-label>      
      <ion-select class="form-control" placeholder="Educational">
        <ion-select-option value="" selected>Educational</ion-select-option>
      </ion-select>   
    </div>
    <div class="form-group">
      <ion-label position="stacked">Degree / Specialization</ion-label>      
      <ion-select class="form-control" placeholder="PGDM">
        <ion-select-option value="" selected>PGDM</ion-select-option>
      </ion-select>   
    </div>
  </form>
</ion-content> 