<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>OTP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="otp-image">
    <img src="/assets/images/otp-img.png">
  </div>
  <div class="otp-text">
    <h6>Please enter the verification code.</h6>
    <p class="text-light">We have sent a verification code to your registered Email ID / Phone No.</p>
  </div>
  <div class="otp-boxes">
    <form>
      <div class="form-group">
        <input type="tel" [(ngModel)]="get_otp1" name="get_otp1" class="box" id="" maxlength="1"> 
        <input type="tel" [(ngModel)]="get_otp2" name="get_otp2" class="box" id="" maxlength="1"> 
        <input type="tel" [(ngModel)]="get_otp3" name="get_otp3" class="box" id="" maxlength="1">
        <input type="tel" [(ngModel)]="get_otp4" name="get_otp4" class="box" id="" maxlength="1">
      </div>
      <button type="submit" class="gradient-btn ion-activatable ripple-parent" (click)="submit()">DONE
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button> 
    </form>
  </div>
  
</ion-content>
