.reset-image{    width: 125px;    margin: 8vh auto;}

.reset-form form{width: 100%;  }
.reset-form form .form-group{margin: 25px 25px 10px 0px; display: flex; position: relative;}
.reset-form form .view-pwd-icon{    
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 17px;}
.reset-form form button{margin-top: 40px;}
.error_cls{
    color: red;
    font-size: 12px;
    // padding-top: 10px;
    // padding-left: 45px;
}
.error2{
    font-size: 13px;
    color: red;
    text-align: center;
}
.frgt_btn:disabled{
    background-color: #1e6a9c42;
    background-image: linear-gradient(to left, #1e6a9c54, #10ae9d57);
}
.frgt_btn{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border-radius: 3rem;
    color: white;
    background-color: #1E6A9C;
    background-image: linear-gradient(to left, #1e6a9c, #10AE9D);
    margin: 20px auto;
    max-width: 320px;
    display: block;
    border: 1px solid #4396cd;
    text-transform: uppercase;
}