<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start" (click)="forgotPasswordPage()">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
		<ion-title>Reset<br>Password?</ion-title>
	</ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
	<div class="reset-image">
	  	<img src="/assets/images/reset-img.png">
	</div>
	<h6>Please enter a new password</h6>
	<div class="reset-form">
		<form (ngSubmit)="changePass(form_reset)" [formGroup]="changePassword">
			<div class="form-group">
				<ion-input [type]="passwordType" class="form-control input-group" id="pass1" (keyup)="clickInput()" no-padding  placeholder="New Password" type="password" required [(ngModel)]="change_pw.new_password" formControlName="new_password" [class.error1]="!changePassword.controls.new_password.valid && changePassword.controls.new_password.dirty">
					<span><img src="/assets/images/password-key.png"></span>
				</ion-input>
			</div>
			<div class="error_cls" *ngIf="( changePassword.get('new_password').hasError('minlength') || changePassword.get('new_password').hasError('maxlength') ||changePassword.get('new_password').hasError('required') ) && changePassword.get('new_password').touched">
				<div class="error" *ngIf="changePassword.get('new_password').hasError('required') && changePassword.get('new_password').touched">
					Please enter valid New Password.
				</div>
				<div class="error" *ngIf="changePassword.get('new_password').hasError('minlength') && changePassword.get('new_password').touched">
					Ateast minimum 6 character required.
				</div>
				<div class="error" *ngIf="changePassword.get('new_password').hasError('maxlength') && changePassword.get('new_password').touched">
					Maximum 20 characters.
				</div>
			</div>
			<div class="form-group">
				<ion-input [type]="passwordType" class="form-control input-group" id="pass2" (keyup)="clickInput()" no-padding Equalvalidate="change_pw.new_password" placeholder="Confirm Password" type="password" required [(ngModel)]="change_pw.comf_password" formControlName="comf_password" [class.error1]="!changePassword.controls.comf_password.valid && changePassword.controls.comf_password.dirty">
					<span><img src="/assets/images/password-key.png"></span>
				</ion-input>
			</div>
			<div class="error_cls" *ngIf="( changePassword.get('comf_password').hasError('minlength') || changePassword.get('comf_password').hasError('maxlength') ||changePassword.get('comf_password').hasError('required') ) && changePassword.get('comf_password').touched">
				<div class="error" *ngIf="changePassword.get('comf_password').hasError('required') && changePassword.get('comf_password').touched">
					Please enter valid Confirm Password.
				</div>
				<div class="error" *ngIf="changePassword.get('comf_password').hasError('minlength') && changePassword.get('comf_password').touched">
					Ateast minimum 6 character required.
				</div>
				<div class="error" *ngIf="changePassword.get('comf_password').hasError('maxlength') && changePassword.get('comf_password').touched">
					Maximum 20 characters/
				</div>
			</div>
			<div *ngIf="errorHideShow" class="error2">
				<span>Confirm Password does not match the New Password .</span>
			</div>
			<!-- <button class="gradient-btn ion-activatable ripple-parent" [disabled]="changePassword.invalid" type="submit">CHANGE PASSWORD
				<ion-ripple-effect type="unbounded"></ion-ripple-effect>
			</button>  -->
			<div>
				<button type="submit" class="frgt_btn" [disabled]="changePassword.invalid" >CHANGE PASSWORD</button> 
			</div>
		</form>
	</div>
</ion-content>
<ngx-ui-loader [fgsSize]='50' [loaderId]="4" [fgsColor]='blue'></ngx-ui-loader>

  