.program-card{    
    display: flex;
    align-items: center;
    color: black;
    border: 2px solid rgb(34 90 149 / 0.2);
    border-radius: 8px;
    position: relative;
}

.program-card img{margin: 0 15px 0 5px; width:50px;}
.program-card h5{margin: 0;}
.program-card h6{font-weight: 400;}
.program-card ion-item-divider{padding: 0; border: 0;}
.program-card a.show-details{
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
    font-size: 18px;
    color: #444444;
}
.program-detail-card{
    border: 2px solid rgb(30 173 79 / 0.3);
    align-items: start;}
.program-detail-card a.show-details{
    bottom: 10px; top: auto;
}

ion-progress-bar{
    --buffer-background: #EBEBEB;
    height: 8px;
    border-radius: 20px;
}
.progress, .progress-indeterminate {
    background-image: linear-gradient(45deg, #225a95, #3880ff);
    border-radius: 10px;
}