<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center">
    <figure><img src="../../assets/images/satisfied.png" alt=""></figure>
    <h5 class="question">High Five! What makes you satisfied?</h5>
  </div>
  <ion-card class="card survey-form">
    <form class="ion-padding-horizontal">
      <ion-item-divider>
        <ion-label>Helpful and thoughtful</ion-label>
        <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>Quick and responsive</ion-label>
        <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>Solved most of my problems</ion-label>
        <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
      </ion-item-divider>
      <ion-item-divider>
        <ion-checkbox color="tertiary"></ion-checkbox>
        <ion-label>Good knowledge of the product</ion-label>
      </ion-item-divider>
    </form>
  </ion-card>
</ion-content>
