.question{color: rgb(0 0 0 / 0.8);}

.survey-form{margin-top: 50px;}
.survey-form ion-label{color: gray;    font-family: "AvenirLTStd-Roman";    font-weight: normal;
    font-size: 16px;     white-space: break-spaces; margin: 0;}
.survey-form ion-item-divider{margin: 10px 0;}
