<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>My Program</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="program-card card program-detail-card">      
    <img src="/assets/images/crack-gd.png" alt="">
    <div>
      <h5>Cracking the GD</h5>
      <div id="program-info">
        <p class="text-light">This process takes 3 working days, in case of immediate help for an application or GD, we can expedite the provccess to 1 woring day.</p>
        <h6>Progress</h6>
        <ion-progress-bar value="0.5"></ion-progress-bar>
        <h6>Next Steps</h6>
        <ul class="pointer-list">
          <li>
            <p>Assessment 3/8/2020</p>
          </li>
          <li>
            <p>Session 3/8/2020</p>
          </li>
        </ul>
      </div>
      <a href="" class="show-details"><ion-icon name="chevron-down-outline" ></ion-icon></a>
    </div>
  </ion-card>
  <ion-card class="program-card card">      
    <img src="/assets/images/resume-diag.png">
    <div>
      <h5>Resume Diagnostic</h5>
      <a href="" class="show-details"><ion-icon name="chevron-down-outline" ></ion-icon></a>
    </div>
  </ion-card>
</ion-content>
