<ion-header class="gradient-bg">
    <ion-toolbar class="white">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>Sign Up</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="signup-form ion-padding">
        <ul class="progressbar" id="profile-progress">
            <li class="active"></li>
            <li [ngClass]="{'active': activeClass2==1}"></li>
            <li [ngClass]="{'active': activeClass3==1}"></li>
        </ul>
        <form [formGroup]="add_user_1" (ngSubmit)="nextTab1()">
            <div class="step-1" *ngIf="step1">
                <div class="form-group">
                    <ion-label position="stacked">Register As</ion-label>
                    <ion-radio-group value="employee">
                        <ion-row>
                            <ion-item class="ion-no-padding" no-lines>
                                <input type="radio" name="register_type" [value]="4" (click)="changeRegister($event.target.value)" [checked]="registerChek=='4'">
                                <ion-label>Student</ion-label>
                            </ion-item>
                            <ion-item class="ion-no-padding">
                                <input type="radio" name="register_type" [value]="3" (click)="changeRegister($event.target.value)" [checked]="registerChek=='3'">
                                <ion-label>Employee</ion-label>
                            </ion-item>
                        </ion-row>
                    </ion-radio-group>
                </div>
                <div class="form-group">
					<ion-item>
						<ion-label position="floating">Name</ion-label>
						<ion-input type="text" [(ngModel)]="user_data_1.first_name" formControlName="first_name" required [class.error1]="!add_user_1.controls.first_name.valid && add_user_1.controls.first_name.dirty" class="form-control" id="" ></ion-input>
					  </ion-item>
				</div>
				<div class="error_cls" *ngIf="( add_user_1.get('first_name').hasError('required') ) && add_user_1.get('first_name').touched">
                    <div class="error" *ngIf="add_user_1.get('first_name').hasError('required') && add_user_1.get('first_name').touched">
                        First name cannot be blank                                                      
                    </div>
                </div>
                <div class="form-group">
					<ion-item>
                    <ion-label position="floating">Email</ion-label>
					<ion-input type="email" class="form-control" id="" [(ngModel)]="user_data_1.email" formControlName="email" [class.error1]="!add_user_1.controls.email.valid && add_user_1.controls.email.dirty" required></ion-input>
					</ion-item>
				</div>
				<div class="error_cls" *ngIf="( add_user_1.get('email').hasError('minlength') || add_user_1.get('email').hasError('pattern') ||add_user_1.get('email').hasError('required') ) && add_user_1.get('email').touched">
                    <div class="error" *ngIf="add_user_1.get('email').hasError('required') && add_user_1.get('email').touched">
                        Email cannot be blank.
                    </div>
                    <div class="error" *ngIf="add_user_1.get('email').hasError('pattern') && add_user_1.get('email').touched">
                        Please enter a valid Email.
                    </div>
                </div>
                <div class="form-group">
					<ion-item>
                    <ion-label position="floating">Address</ion-label>
					<ion-input [(ngModel)]="user_data_1.address" formControlName="address" type="text" required [class.error1]="!add_user_1.controls.address.valid && add_user_1.controls.address.dirty" class="form-control"></ion-input>
					</ion-item>
				</div>
				<div class="error_cls" *ngIf="( add_user_1.get('address').hasError('required') ) && add_user_1.get('address').touched">
                    <div class="error" *ngIf="add_user_1.get('address').hasError('required') && add_user_1.get('address').touched">
                        Permanent location can not be blank.
                    </div>
                </div>
                <div class="form-group">
					<ion-item>
                    <ion-label position="floating">Select State</ion-label>
                    <ion-select [interfaceOptions]="customActionSheetOptions" (ionChange)="stateValue($event.target.value)" interface="action" class="form-control" formControlName="state" [(ngModel)]="user_data_1.state" [class.error1]="!add_user_1.controls.state.valid && add_user_1.controls.state.dirty">
                    	<ion-select-option *ngFor="let list of state" [value]="list.state_id">{{list?.name}}</ion-select-option>
					</ion-select>
					</ion-item>
				</div>
				<div class="error_cls" *ngIf="add_user_1.get('state').hasError('required') && add_user_1.get('state').touched">
					Select state.
				</div>
                <div class="form-group" *ngIf="city_hide">
					<ion-item>
                    <ion-label position="floating">Select City</ion-label>
                    <ion-select [interfaceOptions]="customActionSheetOptions" (ionChange)="cityValue($event.target.value)" interface="action" class="form-control" formControlName="city" [(ngModel)]="user_data_1.city" [class.error1]="!add_user_1.controls.city.valid && add_user_1.controls.city.dirty">
                        <ion-select-option *ngFor="let list of city" [value]="list.id">{{list?.name}}</ion-select-option>
					</ion-select>
					</ion-item>
				</div>
				<div class="error_cls" *ngIf="add_user_1.get('city').hasError('required') && add_user_1.get('city').touched">
					Select city.
				</div>
                <!-- <div class="form-group">
					<ion-item>
                    <ion-label position="floating">Mobile Number</ion-label>
					<ion-input type="text" class="form-control" id="" maxlength="10" no-padding  (keypress)="numberAccept($event)" type="tel"  [(ngModel)]="user_data_1.phone_no" formControlName="phone_no" [class.error1]="!add_user_1.controls.phone_no.valid && add_user_1.controls.phone_no.dirty" required></ion-input>
					</ion-item>
				</div>
				<div class="error_cls" *ngIf="( add_user_1.get('phone_no').hasError('minlength') || add_user_1.get('phone_no').hasError('maxlength') ||add_user_1.get('phone_no').hasError('required') ) && add_user_1.get('phone_no').touched">
                    <div class="error" *ngIf="add_user_1.get('phone_no').hasError('required') && add_user_1.get('phone_no').touched">
                        Mobile number cannot be blank.
                    </div>
                    <div class="error" *ngIf="add_user_1.get('phone_no').hasError('minlength') && add_user_1.get('phone_no').touched">
                        Mobile number should be aleast 10 numbers.
                    </div>
                    <div class="error" *ngIf="add_user_1.get('phone_no').hasError('maxlength') && add_user_1.get('phone_no').touched">
                        Mobile number should not more than 10 numbers.
                    </div>
                </div> -->
                <a class="skip text-blue" (click)="skip1()">
                    SKIP 
                    <ion-icon name="arrow-forward" ></ion-icon>
                </a>
				<div>
					<button type="submit" class="frgt_btn" [disabled]="add_user_1.invalid" >NEXT</button> 
				</div>
            </div>
		</form>
		<div class="step-2" *ngIf="step2">
			<div class="employee" *ngIf="registerChek=='3'">
				<form [formGroup]="employee_1" (ngSubmit)="nextTab2()">
					<div class="form-group">
                        <ion-item>
							<ion-label position="floating">Company Name</ion-label>
							<ion-input type="text" class="form-control" id="" [(ngModel)]="user_employee_1.company_name" formControlName="company_name" required [class.error1]="!employee_1.controls.company_name.valid && employee_1.controls.company_name.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('company_name').hasError('required') ) && employee_1.get('company_name').touched">
						<div class="error" *ngIf="employee_1.get('company_name').hasError('required') && employee_1.get('company_name').touched">
							Company Name cannot be blank                                                      
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Designation</ion-label>
						<ion-select class="form-control" [(ngModel)]="user_employee_1.designation" formControlName="designation" required [class.error1]="!employee_1.controls.designation.valid && employee_1.controls.designation.dirty">
							<ion-select-option value="web developer" selected>Web Developer</ion-select-option>
						</ion-select>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('designation').hasError('required') ) && employee_1.get('designation').touched">
						<div class="error" *ngIf="employee_1.get('designation').hasError('required') && employee_1.get('designation').touched">
							designation cannot be blank                                                      
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Current Years in Job</ion-label>
							<ion-datetime displayFormat="YYYY" [(ngModel)]="user_employee_1.current_years_in_job" formControlName="current_years_in_job" required [class.error1]="!employee_1.controls.current_years_in_job.valid && employee_1.controls.current_years_in_job.dirty"></ion-datetime>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('current_years_in_job').hasError('required') ) && employee_1.get('current_years_in_job').touched">
						<div class="error" *ngIf="employee_1.get('current_years_in_job').hasError('required') && employee_1.get('current_years_in_job').touched">
							Please select Current Years in Job                                                      
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Total Work Exp. in Years</ion-label>
						<ion-select class="form-control"[(ngModel)]="user_employee_1.total_work_exp_in_years" formControlName="total_work_exp_in_years" required [class.error1]="!employee_1.controls.total_work_exp_in_years.valid && employee_1.controls.total_work_exp_in_years.dirty">
							<ion-select-option value="1">1</ion-select-option>
							<ion-select-option value="2">2</ion-select-option>
							<ion-select-option value="3">3</ion-select-option>
							<ion-select-option value="4">4</ion-select-option>
							<ion-select-option value="5">5</ion-select-option>
							<ion-select-option value="6">6</ion-select-option>
							<ion-select-option value="7">7</ion-select-option>
							<ion-select-option value="8">8</ion-select-option>
							<ion-select-option value="9">9</ion-select-option>
							<ion-select-option value="10">10</ion-select-option>
						</ion-select>	
						</ion-item>				
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('total_work_exp_in_years').hasError('required') ) && employee_1.get('total_work_exp_in_years').touched">
						<div class="error" *ngIf="employee_1.get('total_work_exp_in_years').hasError('required') && employee_1.get('total_work_exp_in_years').touched">
							Please Fill Total Work Exp. in Years                                                      
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Function</ion-label>
						<ion-select class="form-control" [(ngModel)]="user_employee_1.function" formControlName="function" required [class.error1]="!employee_1.controls.function.valid && employee_1.controls.function.dirty">
							<ion-select-option value="7">1</ion-select-option>
							<ion-select-option value="7">2</ion-select-option>
							<ion-select-option value="7">3</ion-select-option>
						</ion-select>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('function').hasError('required') ) && employee_1.get('function').touched">
						<div class="error" *ngIf="employee_1.get('function').hasError('required') && employee_1.get('function').touched">
							Please select Function                                                     
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Industry</ion-label>
						<ion-select [interfaceOptions]="customActionSheetOptions" interface="action" class="form-control" [(ngModel)]="user_employee_1.industry" formControlName="industry" required [class.error1]="!employee_1.controls.industry.valid && employee_1.controls.industry.dirty">
							<ion-select-option *ngFor="let list of department" [value]="list.id">{{list?.department_name}}</ion-select-option>
						</ion-select>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_1.get('industry').hasError('required') ) && employee_1.get('industry').touched">
						<div class="error" *ngIf="employee_1.get('industry').hasError('required') && employee_1.get('industry').touched">
							Please select Industry                                                      
						</div>
					</div>
					<a class="skip text-blue" (click)="skip2()">
						SKIP 
						<ion-icon name="arrow-forward"></ion-icon>
					</a>
					<div>
						<button type="submit" class="frgt_btn" [disabled]="employee_1.invalid" >NEXT</button> 
					</div>
				</form>
			</div>
			<div class="student" *ngIf="registerChek=='4'">
				<form [formGroup]="student_1" (ngSubmit)="nextTabStudent2()">
					<div class="form-group">
						<ion-item>
							<ion-label position="floating">Institute Name</ion-label>
							<ion-input type="text" class="form-control" id="" [(ngModel)]="user_student_1.institute_name" formControlName="institute_name" required [class.error1]="!student_1.controls.institute_name.valid && student_1.controls.institute_name.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_1.get('institute_name').hasError('required') ) && student_1.get('institute_name').touched">
						<div class="error" *ngIf="student_1.get('institute_name').hasError('required') && student_1.get('institute_name').touched">
							Institute Name cannot be blank                                                     
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Course / Degree</ion-label>
						<ion-select [interfaceOptions]="customActionSheetOptions" interface="action" (ionChange)="selectCourse($event.target.value)" class="form-control" [(ngModel)]="user_student_1.course_degree" formControlName="course_degree" required [class.error1]="!student_1.controls.course_degree.valid && student_1.controls.course_degree.dirty">
							<ion-select-option *ngFor="let list of course" [value]="list.id">{{list?.education_name}}</ion-select-option>
						</ion-select>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_1.get('course_degree').hasError('required') ) && student_1.get('course_degree').touched">
						<div class="error" *ngIf="student_1.get('course_degree').hasError('required') && student_1.get('course_degree').touched">
							Please select Course / Degree                                                     
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Current Year</ion-label>
						<ion-datetime displayFormat="YYYY" [(ngModel)]="user_student_1.current_year" formControlName="current_year" required [class.error1]="!student_1.controls.current_year.valid && student_1.controls.current_year.dirty"></ion-datetime>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_1.get('current_year').hasError('required') ) && student_1.get('current_year').touched">
						<div class="error" *ngIf="student_1.get('current_year').hasError('required') && student_1.get('current_year').touched">
							Please select Current Year                                                    
						</div>
					</div>
					<div class="form-group" *ngIf="streamSpecialization">
						<ion-item>
						<ion-label  position="floating">Stream Specialization</ion-label>
						<ion-select [interfaceOptions]="customActionSheetOptions" interface="action" class="form-control" [(ngModel)]="user_student_1.stream_specialization" formControlName="stream_specialization" required [class.error1]="!student_1.controls.stream_specialization.valid && student_1.controls.stream_specialization.dirty">
							<ion-select-option *ngFor="let list of stream" [value]="list.education_id">{{list?.stream_name}}</ion-select-option>
						</ion-select>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_1.get('stream_specialization').hasError('required') ) && student_1.get('stream_specialization').touched">
						<div class="error" *ngIf="student_1.get('stream_specialization').hasError('required') && student_1.get('stream_specialization').touched">
							Please select Stream Specialization                                                     
						</div>
					</div>
					<a class="skip text-blue" (click)="skip2()">
						SKIP 
						<ion-icon name="arrow-forward"></ion-icon>
					</a>
					<div>
						<button type="submit" class="frgt_btn" [disabled]="student_1.invalid" >NEXT</button> 
					</div>
				</form>
			</div>
		</div>
        <div class="step-3" *ngIf="step3">
			<div *ngIf="registerChek=='3'">
				<form [formGroup]="employee_2" (ngSubmit)="nextTab3()">
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Badges Earned</ion-label>
						<ion-input type="text" class="form-control" id="" [(ngModel)]="user_employee_2.badges_earned" formControlName="badges_earned"></ion-input>
						</ion-item>
					</div>
					<!-- <div class="error_cls" *ngIf="( employee_2.get('badges_earned').hasError('required') ) && employee_2.get('badges_earned').touched">
						<div class="error" *ngIf="employee_2.get('badges_earned').hasError('required') && employee_2.get('badges_earned').touched">
							Please select Stream Specialization                                                     
						</div>
					</div> -->
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Career Creds</ion-label>
						<ion-input type="text" class="form-control" id="" [(ngModel)]="user_employee_2.career_creds" formControlName="career_creds" required [class.error1]="!employee_2.controls.career_creds.valid && employee_2.controls.career_creds.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( employee_2.get('career_creds').hasError('required') ) && employee_2.get('career_creds').touched">
						<div class="error" *ngIf="employee_2.get('career_creds').hasError('required') && employee_2.get('career_creds').touched">
							Fill Career Creds                                                     
						</div>
					</div>
					<div class="form-group">
						<ion-item>
						<ion-label position="floating">Reward and credit Points</ion-label>
						<ion-input type="text" class="form-control" id="" [(ngModel)]="user_employee_2.reward_and_credit_points" formControlName="reward_and_credit_points"></ion-input>
						</ion-item>
					</div>
					<!-- <div class="error_cls" *ngIf="( employee_2.get('reward_and_credit_points').hasError('required') ) && employee_2.get('reward_and_credit_points').touched">
						<div class="error" *ngIf="employee_2.get('reward_and_credit_points').hasError('required') && employee_2.get('reward_and_credit_points').touched">
							Please select Stream Specialization                                                     
						</div>
					</div> -->
					<div>
						<button type="submit" class="frgt_btn" [disabled]="employee_2.invalid" >Submit</button> 
					</div>
				</form>
			</div>
			<div *ngIf="registerChek=='4'">
				<form [formGroup]="student_2" (ngSubmit)="nextTabStudent3()">
					<div class="form-group">
						<ion-item>
							<ion-label position="floating">Career Objective</ion-label>
							<ion-input type="text" class="form-control" id="" [(ngModel)]="user_student_2.career_objective" formControlName="career_objective" required [class.error1]="!student_2.controls.career_objective.valid && student_2.controls.career_objective.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_2.get('career_objective').hasError('required') ) && student_2.get('career_objective').touched">
						<div class="error" *ngIf="student_2.get('career_objective').hasError('required') && student_2.get('career_objective').touched">
							Fill Career Objective                                                    
						</div>
					</div>
					<div class="form-group">
						<ion-item>
							<ion-label position="floating">Current Need</ion-label>
							<ion-input type="text" class="form-control" id="" [(ngModel)]="user_student_2.current_need" formControlName="current_need" required [class.error1]="!student_2.controls.current_need.valid && student_2.controls.current_need.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_2.get('current_need').hasError('required') ) && student_2.get('current_need').touched">
						<div class="error" *ngIf="student_2.get('current_need').hasError('required') && student_2.get('current_need').touched">
							Fill Current Need                                                     
						</div>
					</div>
					<div class="form-group">
						<ion-item>
							<ion-label position="floating">Career Preparation & Development</ion-label>
							<ion-input type="text" class="form-control" id="" [(ngModel)]="user_student_2.career_preparation_development" formControlName="career_preparation_development" required [class.error1]="!student_2.controls.career_preparation_development.valid && student_2.controls.career_preparation_development.dirty"></ion-input>
						</ion-item>
					</div>
					<div class="error_cls" *ngIf="( student_2.get('career_preparation_development').hasError('required') ) && student_2.get('career_preparation_development').touched">
						<div class="error" *ngIf="student_2.get('career_preparation_development').hasError('required') && student_2.get('career_preparation_development').touched">
							Fill Career Preparation & Development                                                 
						</div>
					</div>
					<div>
						<button type="submit" class="frgt_btn" [disabled]="student_2.invalid" >Submit</button> 
					</div>
				</form>
			</div>
        </div>
    </div>
	
</ion-content>
<ngx-ui-loader [loaderId]="3" [fgsSize]='50' [fgsColor]='blue'></ngx-ui-loader>
