@import "../my-program/my-program.page";

.order-details li{color: gray; }
.order-details li h6{display: inline-block;}

section button{text-transform: initial;    padding: 8px 10px;    border-radius: 20px;    margin-right: 10px;}