<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Order History</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="program-card card program-detail-card">      
    <img src="/assets/images/crack-gd.png" alt="">
    <div>
      <h5>Cracking the GD</h5>
      <div id="program-info">
        <p class="text-light">This process takes 3 working days, in case of immediate help for an application or GD, we can expedite the provccess to 1 working day.</p>
        <h5 class="text-primary">₹ 3500</h5>
        <ul class="order-details">
          <li>
            <h6>Purchase ID: </h6>
            YPF0000001
          </li>
          <li>
            <h6>Status: </h6>
            Completed
          </li>
          <li>
            <h6>Purchased On: </h6>
            3/8/2020
          </li>
        </ul>
        <section>
          <button size="small" class="bg-success">Need Help</button>
          <button size="small" class="bg-tertiary">Write a Review</button>
        </section>
      </div>
      <a href="" class="show-details"><ion-icon name="chevron-down-outline" ></ion-icon></a>
    </div>
  </ion-card>
  <ion-card class="program-card card">      
    <img src="/assets/images/resume-diag.png">
    <div>
      <h5>Resume Diagnostic</h5>
      <a href="" class="show-details"><ion-icon name="chevron-down-outline" ></ion-icon></a>
    </div>
  </ion-card>
</ion-content>
