<ion-header>
  <ion-toolbar class="white" id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Journey Map Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding transform-top">
  <div class="gradient-top"></div>
  <div class="journey-wrapper">
    <ion-card class="card">
      <ul class="pointer-list">
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
      </ul>

      <h4>Benefits of Journey Map</h4>
      <ul class="pointer-list">
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
        <li>
          <p>Notes are text elements generally used as subtitles that provide more information.</p>
        </li>
      </ul>
    </ion-card>

    <div class="ion-padding-vertical">
      <iframe width="100%" height="150" src="https://www.youtube.com/embed/hdI2bqOjy3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <ion-buttons class="btn-group">        
      <button type="submit" class="gradient-btn ion-activatable ripple-parent">Continue
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button> 
      
      <button type="submit" class="gradient-btn ion-activatable ripple-parent">Know More
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </button> 
    </ion-buttons>
  </div>
</ion-content>
