.otp-image{
    width: 100%;
    height: calc(100vh - 390px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img{
        width: 125px;
    }
}
ion-header{
    padding: 10px 0;
}
.back_btn{
    width: 5%;
    padding: 0px 5px 0px 5px;
}
.otp-text{margin-bottom: 20px;}
.otp-boxes form{width: 100%;  }
// .otp-boxes form .form-group{margin-bottom: 35px;}
.error_cls{
    color: red;
    font-size: 13px;
}
.gradient-btn {
    margin: 15px auto;
    padding: 10px;
}
.frgt_btn:disabled{
    background-color: #1e6a9c42;
    background-image: linear-gradient(to left, #1e6a9c54, #10ae9d57);
}
.frgt_btn{
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border-radius: 3rem;
    color: white;
    background-color: #1E6A9C;
    background-image: linear-gradient(to left, #1e6a9c, #10AE9D);
    margin: 20px auto;
    max-width: 320px;
    display: block;
    border: 1px solid #4396cd;
    text-transform: uppercase;
}