<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Career Creds</ion-title>                           
  </ion-toolbar>
</ion-header>
<ion-content class="reward ion-padding">
  <div class="ion-text-center">
    <figure>
      <img src="/assets/images/reward-cup.jpg" alt="">
    </figure>
    <h1>650</h1>
    <h6>Rewards Point Available</h6>
    <ion-buttons class="ion-justify-content-center button-pills">
      <button class="primary" [routerLink]="['/redeem']">REDEEM NOW</button>
      <button class="secondary">EARN MORE</button>
    </ion-buttons>
  </div>
  <ion-card class="reward-card">
    <ion-card-header>
      <ion-card-title><h5>History</h5></ion-card-title>
    </ion-card-header>
    <ion-item-group>
      <ion-item-divider class="ion-no-padding">
        <h5 slot="end">20 <span class="text-light">CCs</span></h5>
        <ion-badge class="color-bar" color="tertiary"></ion-badge>
        <div>          
          <h6>Resume Diagnostic</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider>
      <ion-item-divider class="ion-no-padding">
        <h5 slot="end">60 <span class="text-light">CCs</span></h5>        
        <ion-badge class="color-bar" color="success"></ion-badge>
        <div>
          <h6>Industry Assessment</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider>      
      <ion-item-divider class="ion-no-padding">
        <h5 slot="end">80 <span class="text-light">CCs</span></h5>        
        <ion-badge class="color-bar" color="primary"></ion-badge>
        <div>
          <h6>Grad Xplore</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider><ion-item-divider class="ion-no-padding">
        <h5 slot="end">20 <span class="text-light">CCs</span></h5>
        <ion-badge class="color-bar" color="tertiary"></ion-badge>
        <div>
          <h6>Resume Diagnostic</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider>
      <ion-item-divider class="ion-no-padding">
        <h5 slot="end">60 <span class="text-light">CCs</span></h5>
        <ion-badge class="color-bar" color="tertiary"></ion-badge>
        <div>
          <h6>Industry Assessment</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider>      
      <ion-item-divider class="ion-no-padding">
        <h5 slot="end">80 <span class="text-light">CCs</span></h5>
        <ion-badge class="color-bar" color="success"></ion-badge>
        <div>
          <h6>Grad Xplore</h6>
          <p>09 Apr 2020</p>
        </div>
      </ion-item-divider>
    </ion-item-group>
  </ion-card>
</ion-content>
