<ion-header>
  <ion-toolbar class="white" id="toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Redeem</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="transform-top">
  <div class="redeem-top ion-padding-horizontal">    
    <ion-item-divider>
      <img src="/assets/images/wallet-img.png" alt="" slot="end">
      <div>
        <p>Career Creds</p>
        <h1>1234</h1>
      </div>
    </ion-item-divider> 
  </div>
  <div class="coupons ion-padding">
    <h6>Redeem coupons towards your next purchase</h6>
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Act as a moneywhich can be redeemed when buying any service</h6>
        <img src="/assets/images/redeem-icon1.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Can get any service for free(unlock a predefined product)[D1]</h6>
        <img src="/assets/images/redeem-icon2.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>
    <ion-card href="" class="coupon-card card">
      <ion-item-divider>
        <h6 color="tertiary">Unlock the next stage of journey map after free section is exhausted</h6>
        <img src="/assets/images/redeem-icon3.jpg" alt="" slot="start">
      </ion-item-divider>
    </ion-card>   
    <ion-card class="coupon-card coupon-code card">
      <ion-item-divider>
        <h6 color="tertiary">MBAtrek coupon code</h6>
        <a slot="end" href="">Redeem for 500</a>
      </ion-item-divider>
    </ion-card>   
  </div>
</ion-content>
