<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <img src="../../assets/images/quiz-rating.jpg" alt="">
  <h3>Your opinion matters to us</h3>
  <h6>We work super hard  to make Glose better for you, and would ove to know how would you rate our assessment?</h6>
  <form>
    <ul class="rating">
      <li class="active"><ion-icon name="star-sharp"></ion-icon></li>
      <li class="active"><ion-icon name="star-sharp"></ion-icon></li>
      <li class="active"><ion-icon name="star-sharp"></ion-icon></li>
      <li class="active"><ion-icon name="star-sharp"></ion-icon></li>
      <li><ion-icon name="star-sharp"></ion-icon></li>
    </ul>
    <button type="submit" class="gradient-btn ion-activatable ripple-parent">submit
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </button> 
    <p><a href="">No Thanks</a></p>
  </form>
</ion-content>
