img+h3{font-weight: 600;    margin-top: 20px;}

.rating{margin-top: 30px;}
.rating li{display: inline-block;   font-size: 40px;    color: #cccccc;}
.rating li.active{color: #FFC324;}

form button{max-width: 135px;}
form a{color: gray;    font-weight: bold;}